<div class="row">
<div class="span6 offset3">
<div class="well">
	<%= image_tag @product.image %>
	<p>
 		 <strong>Product name:</strong> <%= @product.description %>
	</p>
	<p>
 		 <strong>Brand:</strong> <%= @product.brand %>
	</p>
	<p>
 		 <strong>Regular price:</strong> <%= @product.price %>
	</p>
	<p>
 		 <strong>Sale price:</strong> <%= @product.sale_price %>
	</p>

	<p>
 		 <strong>Material:</strong> <%= @product.material %>
	</p>

	<p>
	 <strong> <%= @product.user.name %> </strong>
	</p>
	<% if current_user == @product.user %>
		<%= link_to 'Edit product', edit_product_path(@product), class: "btn" %> 
	<% end %>
	<%= link_to 'Back', products_path, class: "btn" %>
	</div>
</div>
</div>
